{% extends 'base.html.twig' %}

{% block title %}Cirujano index{% endblock %}

{% block body %}
    <h1>Cirujano index</h1>

    <h3>Numero de Cirujanos actual: {{ total }}</h3>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Especialidad</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for cirujano in cirujanos %}
            <tr>
                <td>{{ cirujano.id }}</td>
                <td>{{ cirujano.nombre }}</td>
                <td>{{ cirujano.apellidos }}</td>
                <td>{{ cirujano.especialidad }}</td>
                <td>
                    <a href="{{ path('app_cirujano_show', {'id': cirujano.id}) }}">show</a>
                    <a href="{{ path('app_cirujano_edit', {'id': cirujano.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cirujano_new') }}">Create new</a>
{% endblock %}
