{% extends 'base.html.twig' %}

{% block title %}Producto index{% endblock %}

{% block body %}
    <h1>Producto index</h1>

    {# <h3>Hay {{ productos|length }} productos en total</h3> #}
    {{ mensajeTotal }}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for producto in productos %}
            <tr>
                <td>{{ producto.id }}</td>
                <td>{{ producto.name }}</td>
                <td>{{ producto.precio }}</td>
                <td>{{ producto.stock }}</td>
                <td>
                    <a href="{{ path('app_producto_show', {'id': producto.id}) }}">show</a>
                    <a href="{{ path('app_producto_edit', {'id': producto.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_producto_new') }}">Create new</a>
{% endblock %}
